<!DOCTYPE html>
<html>
  <head>
    <title>Chatroom</title>

    <%= stylesheet_link_tag 'reset', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'index'%>
    <script src="https://kit.fontawesome.com/110d7c3898.js" crossorigin="anonymous"></script>
  </head>
</html>
